body {
  margin: 0;
  padding: 0;
  font: 18px/1.5 Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
ul {
  margin: 0;
  padding: 0;
}
header {
  padding-top: 30px;
  min-height: 70px;
  background: #35424a;
  color: white;
  border-bottom: #e8491d 3px solid;
}

header .container {
  display: flex;
  justify-content: space-between;
}
header h1 {
  margin: 0;
}
header nav {
  margin-top: 10px;
}
header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
header nav li {
  list-style: none;
  margin: 0 20px 0 20px;
}
header nav li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header .highlight, header .current a {
  color: #e8491d;
  font-weight: bold;
}
header a:hover {
  color: #ccc;
  font-weight: bold;
}


#showcase {
  min-height: 400px;
  background: url('../img/showcase.jpg') no-repeat 0 -400px;
  text-align: center;
  color: white;
}
#showcase h2 {
  margin: 100px 0 10px 0;
  font-size: 55px;
}
#showcase p {
  font-size: 20px;
}
#newsletter {
  padding: 15px;
  color: white;
  background: #35424a;
}
#newsletter .container {
  display: flex;
  justify-content: space-between;
}
#newsletter form {
  margin-top: 15px;
}
#newsletter input[type='email'] {
  padding: 4px;
  height: 25px;
  width: 250px;
}
.button_1 {
  height: 38px;
  border: none;
  padding: 0 20px 0 20px;
  background: #e8491d;
  color: white;
}

#boxes {
  margin-top: 20px;
}
#boxes .container {
display: flex;
justify-content: center;
}
#boxes .box {
  padding: 30px;
  text-align: center;
}
#boxes .box img {
  width: 90px;
}

footer {
  margin-top: 20px;
  padding: 20px;
  color: white;
  background: #e8491d;
  text-align: center;
}

#main .container {
  display: flex;
  justify-content: space-between;
}
#main .container article{
  flex: 2;
  padding: 20px;
}
#main .container aside{
  flex: 1;
  padding: 20px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

.dark {
  padding: 15px;
  background: #35424a;
  color: white;
  margin: 10px 0 10px 0;
}
/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}



/* Media Queries */
@media(max-width: 768px){
  header .container,
  header nav,
  h1,
  #newsletter .container,
  #boxes .container,
  #main .container,
  #main .container article .main-col
  {
    display: block;
    text-align:center;
    width:100%;
  }
  

  header h1 {
    margin-bottom: 30px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }
  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
    }

}
