body {
  margin: 0;
  padding: 0;
  font: 18px/1.5 Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
header {
  padding-top: 30px;
  min-height: 70px;
  background: #35424a;
  color: white;
  border-bottom: #e8491d 3px solid;
}

header .container {
  display: flex;
  justify-content: space-between;
}
header h1 {
margin: 0;
}
header nav {
  margin-top: 10px;
}
header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
header nav li {
  list-style: none;
  margin: 0 20px 0 20px;
}
header nav li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header .highlight, header .current a {
  color: #e8491d;
  font-weight: bold;
}
header a:hover {
  color: #ccc;
  font-weight: bold;
}
#boxes .container {
display: flex;
justify-content: space-between;
}
